<!--  *** SERVICES CAROUSEL *** -->
<ul 
    class="owl-carousel services same-height-row"
    data-items="{{ default 4 .Site.Params.CarouselServices.items }}"
    data-autoplay="{{ default false .Site.Params.CarouselServices.auto_play }}"
    data-slide-speed="{{ default 2000 .Site.Params.CarouselServices.slide_speed }}"
    data-pagination-speed="{{ default 1000 .Site.Params.CarouselServices.pagination_speed }}">
    {{ range .Site.Data.services }}
    <li class="item" style="background-color: {{.color_top}};">
        <div class="service same-height-always">
            <a style="text-decoration:none;" href="{{ .service_link }}">
            <div style="position: relative; min-height:90px; background:linear-gradient(0deg, {{.color_bottom}} 95%, {{.color_top}} );border-radius: 5px;box-sizing: border-box; padding: 5px; border-width: 4px;">
                    <h4 style="color:white; text-align:center;" >{{ .service_level | markdownify }}</h4>
            </div>
            <div class="text" style="box-sizing: border-box; padding: 5px;">
                <p>{{ .text | markdownify }}</p>
            </div>
            </a>
        </div>
    </li>
    {{ end }}
</ul>
<!-- *** SERVICES CAROUSEL END *** -->
