<!--  *** SERVICES CAROUSEL *** -->
<section class="bar background-white">
    <div class="container">
        {{ $services := sort .Site.Data.services "weight" }}
        {{ $elements := (len $services) }}
        {{ range $j, $sequence := (seq  0  (sub $elements 1) ) }}
                    <div class="col-md-{{ div 12 $elements }} col-{{ $j }} col-{{ if eq (mod $j 2) 0 }}odd{{ else }}even{{ end }}">
                        <div class="box-simple">
                            {{ $service := index $services $sequence }}
                            {{ with $service.service_link }}
                            <a href="{{ $service.service_link }}" style="text-decoration:none">
                            {{ end }}
                                <div class="icon">
                                    <i class="{{ $service.service_icon }}"></i>
                                </div>
                            <h3>{{  $service.level | markdownify }}</h3>
                            <p>{{  $service.text | markdownify }}</p>
                            {{ with $service.service_link }}
                            </a>
                            {{ end }}
                        </div>
                    </div>
            {{ end }}
    </div>
</section>

<!-- *** SERVICES CAROUSEL END *** -->
